<div *ngIf="group" class=" mx-auto container max-w-2xl flex flex-col gap-4 mt-4">
    <div class=" text-xs">id: {{group.id}}</div>
    <div class=" font-bold text-lg font-sans">{{group.name}}</div>
    <div class=" grid grid-cols-4 gap-4">
        <button *ngFor="let student of group.students" routerLink="/students/{{student.id}}" class=" rounded-xl shadow-lg p-4 bg-blue-300">
            <div class=" text-xs">id: {{student.id}}</div>
            <div class=" font-bold text-lg font-sans">{{student.name}}</div>
            <div>{{student.number}}</div>
            <div >ДР: {{student.birthdate | date:'shortDate'}}</div>
        </button>
    </div>
</div>