<button *ngIf="student" class=" w-full rounded-xl group bg-gradient-to-r from-amber-500 to-pink-500 relative p-1 hover:scale-105 transition">
    <div routerLink="/students/{{student.id}}" class="w-full h-full p-3 shadow-inner group-hover:bg-white transition rounded-lg">

        <div class=" font-bold text-2xl font-sans mx-auto ">{{ emoji}} <span class="group-hover:bg-gradient-to-r text-white group-hover:from-amber-500 group-hover:to-pink-500 group-hover:bg-clip-text group-hover:text-transparent">{{student.name}}</span></div>
    </div>
    
    <div
        class="invisible group-hover:visible absolute right-4 top-1/2 -translate-y-1/2 text-gray-400 font-semibold  select-none items-center">
        <div class=" flex gap-4 ">
            <div class="select-none hover:scale-150"
                (click)="saveStudent()">
                ✎
                
            </div>
            <div class="  select-none hover:scale-150"
                (click)="deleteStudent()">
                ❌
            </div>
        </div>
    </div>
</button>