<button (click)="click()" class=" w-full rounded-xl group bg-gradient-to-r from-fuchsia-500 to-cyan-500 relative p-1 hover:scale-105 transition">
            
    <div class="w-full h-full p-3 shadow-inner group-hover:bg-white transition rounded-lg">

        <div class=" font-bold text-2xl font-sans mx-auto "><span class="group-hover:bg-gradient-to-r text-white group-hover:from-fuchsia-500  group-hover:to-cyan-500 group-hover:bg-clip-text group-hover:text-transparent">{{text}}</span></div>
    </div>
   
</button>