<div class=" mx-auto container max-w-2xl">
    <div *ngIf="students" class="  flex flex-col gap-4 mt-4">
        <div
            class=" font-bold text-4xl font-sans flex justify-center bg-gradient-to-r from-amber-500 to-pink-500 bg-clip-text text-transparent p-4">
            {{students.length ? 'Студенты' : 'Пока нет ни одного студента'}}
        </div>
        <app-student *ngFor="let student of students" [student]="student" (eventDelete)="deleteStudent($event)"/>
        
        <app-button text="Добавить студента" (eventClick)="saveStudent()"/>
    </div>
    <app-loading *ngIf="!students" />
</div>